*.class
*.log
*.swp

# credentials
src/main/resources/credentials.conf
src/test/resources/credentials.conf

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
